:host {
  display: block;
  padding: 1em;
}

.button-align {
  padding: 2em 0;
  text-align: center;
}

.barcode-icon {
  transform: rotate(-90deg);
  font-size: 5rem;
  width: 80px;
  height: 80px;
}
